@media screen and (max-width: 1080px){

	.body .block-null{
	background: url(img/background-font.jpg) 30% 10%;
	padding: 300px 0 250px 0;
	color: #fff;
	border-bottom: 1px solid #ddd;
    }

    .body .main .main-block{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
    }

    .body .main .main-block .block{
    width: 90%;
	font-size: 36px;
	padding: 20px 0;
	color: #444;
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	}

    .body .main .main-block .block p{
	width: 90%;
	align-items: center;
    }

    .body .main .main-block .block h2{
	width: 90%;
	padding: 10px 0;
	border-bottom: 2px solid #aaa;
	margin-bottom: 0px;
    }

    .body .main .main-block .block2 h2{
    	margin-bottom: 40px;
    }



    .body .slogan{
    	margin-top: 250px;
    	margin-left: -60px;
    }

	.header .logo{
		width: 250px;
	}

	.nav-menu{
		height: 120px;
		display: flex;
		align-items: center;
	}

	.nav-menu .menu-li{
		margin-right: 50px;
	}

	.nav-menu .menu-li a{
		font-size: 32px;
	}

	.body .footer{
		height: 350px;
		font-size: 36px;
		text-align: center;
	}

	.body .footer-content{
		display: flex;
		flex-direction: column;
	}

	.body .inc{
		margin-top: 50px;
	}

	.body .footer-icon{
		width: 80px;
		margin-left: 70px;
	}

}

.body{
	margin: 0;
	font-family: "Fira Sans Condensed", sans-serif;
}

.header{
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.nav{
	color: #fff;
	display: flex;
	justify-content: space-between;
	max-width: 100%;
}

.nav-menu{
	display: flex;
}

.menu-li{
	text-transform: uppercase;
	list-style: none;
	margin-left: 16px;
}

.menu-li a{
	text-decoration: none;
	color: white;

}

.menu-li a:hover{
	color: #ccc;
}

.logo:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.logo{
	width: 150px;
	-moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.wrap{
	min-width: 80%;
	display: flex;
	margin: 0 auto;
	justify-content: space-around;
	align-items: center;
}

.footer{
	background: #ddd;
	border-top: 1px solid #ccc;

}

.footer ul{
	display: flex;
}

.footer-icon{
	width: 32px;
	margin-left: 20px;
}

.footer ul li{
	list-style: none;
}

.footer-container{
	display: flex;
	align-items: center;
}

.footer-content{
	max-width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.block-null{
	background: url(img/background-font.jpg) 0% 20%;
	padding: 200px 0 200px 0;
	color: #fff;
	border-bottom: 1px solid #ddd;
}


.onemore{
	max-width: 80%;
	margin: 0 auto;
}

.slogan{
	font-size: 50px;
	margin-top: 50px;
}


.main{
	display: flex;
	justify-content: center;
}

.main-block{
	width: 80%;
	display: flex;
	flex-direction: column;
}

.block{
	font-size: 26px;
	padding: 50px 0;
	color: #444;
	text-align: center;
}

.block p{
	width: 60%;
}

.block h2{
	width: 60%;
	padding: 10px 0;
	border-bottom: 2px solid #aaa;
}

.block2{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.block2 p{
	margin-top: -5px;
}